<!DOCTYPE html>
<html ng-app="App">

	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
		<meta name="description" content="A book community creating books of Free Culture and Free Software. ">
		<meta name="author" content="FLOSS Manuals English">
		<link xmlns:xh="http://www.w3.org/1999/xhtml/vocab#" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" rel="xh:icon icon" href="http://yemanjalisa.fr/itpro/fmfr/img/favicon.ico">
		<script>
			document.write("<base href=\"" + document.location + "\" />");
		</script>
		<script>
			$(document).ready(function() {
				$('.dropdown-toggle').dropdown()
			});
		</script>
		<title>Floss Manuals - Free Manuals for Free Software</title>
		<!-- Bootstrap core CSS -->
		<link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">

        <!-- Font awesome CSS -->
		<link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
		<!-- Custom -->
        <link href="index_fr_files/bootstrapxl.css" rel="xh:stylesheet stylesheet">
		<link href="index_fr_files/fmfr.css" rel="xh:stylesheet stylesheet">
		<link href="index_fr_files/fmen.css" rel="xh:stylesheet stylesheet">
		<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->
		<script data-require="angular.js@1.4.x" src="https://code.angularjs.org/1.4.9/angular.js" data-semver="1.4.9"></script>
		<script src="app/app.js"></script>
        
	</head>

	<body>
		<!-- Navigation -->
		<nav class="navbar navbar-default navbar-static-top">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
						<span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#">Floss Manuals English</a>
				</div>
				<div id="navbar" class="collapse navbar-collapse">
					<ul class="nav navbar-nav">
						<li class="active">
							<a href="http://en.flossmanuals.net">Read</a>
						</li>
						<li>
							<a href="http://floss.booktype.pro">Write</a>
						</li>
						<li>
							<a href="http://www.flossmanuals.org">About</a>
						</li>
						<li>
							<a href="http://www.flossmanuals.org/get-involved-0">Get Involved</a>
						</li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">FM Communities <span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li>
									<a href="http://fr.flossmanuals.net">French</a>
								</li>
								<li>
									<a href="http://fi.flossmanuals.net">Farsi</a>
								</li>
								<li>
									<a href="http://fi.flossmanuals.net">Finnish</a>
								</li>
							</ul>
						</li>
					</ul>
				</div>
				<!--/.nav-collapse -->
			</div>
		</nav>
		<!-- bandeau -->
		<div class="container-fluid">
			<div class="row bgorange">
				<div class="container">
					<div class="row">
						<div class="col-lg-12 cwhite">
							<img src="index_fr_files/fmen.png" style="float:left; margin:1em;">
							<h1>FLOSS Manuals</h1>
							<p class="lead">
								A community making great, flexible, user-friendly manuals together.
								<br>
								We create booklets, course materials and manuals for creative, cultural and campaigning uses of Free Software.
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- /.container-fluid -->
		<div class="container-fluid">
			<div class="row espaceup">
				<div class="col-lg-12">
					<div class="thumbnail bgorange">
						<div class="container">
							<div class="thumbnail fmcats col-lg-8 col-lg-offset-2">
								<div class="btn-group" role="group" aria-label="...">
									<div type="button" class="btn btn-lg blire" ng-click="myFilter = {category: 'Video'}">
										Video
									</div>
									<div type="button" class="btn btn-lg bachat" ng-click="myFilter = {category: 'Audio'}">
										Audio
									</div>
									<div type="button" class="btn btn-lg blire" ng-click="myFilter = {category: 'Graphics'}">
										Graphics
									</div>
									<div type="button" class="btn btn-lg bachat" ng-click="myFilter = {category: 'Internet'}">
										Internet
									</div>
									<div type="button" class="btn btn-lg blire" ng-click="myFilter = {category: 'Collaboration'}">
										Collaboration
									</div>
									<div type="button" class="btn btn-lg bachat" ng-click="myFilter = {category: 'Other'}">
										Other
									</div>
									<div type="button" class="btn btn-lg blire" ng-click="myFilter = undefined">
										All
									</div>
								</div>
							</div>
						</div>
						<div class="caption">
							<!-- Ligne 1 -->
							<div ng-controller="BookController" class="row">
								<div class="container">
									<div class="thumbnail">
										<input class="form-control input-lg" type="text" ng-model="q" placeholder="Live Search" />
									</div>
								</div>
								<div ng-repeat="book in books| filter:filterBooks | filter:myFilter |orderBy:'rank'">
                                    <div class="clearfix visible-xl-block" ng-if="$index % 6 == 0"></div>
                                    <div class="clearfix visible-lg-block" ng-if="$index % 4 == 0"></div>
									<div class="clearfix visible-md-block" ng-if="$index % 3 == 0"></div>
									<div class="clearfix visible-sm-block" ng-if="$index % 2 == 0"></div>
									<div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 ">
										<div class="thumbnail">
											<a href="{{book.read_link}}"><img src="{{book.img_url}}"></a>
											<div class="caption">
												<h3><a href="{{book.read_link}}" class="booktitle">{{book.title}}</a></h3>
												<p>
													<button type="button" class="btn btn-default btn-sm blire">
														<span class="glyphicon glyphicon-tags" aria-hidden="true"> {{book.category}}</span>
													</button>
													<br />
													{{book.description}}
												</p>
												<button type="button" class="btn btn-xs" ng-repeat="keyword in book.keywords">
													<span class="glyphicon glyphicon-tag" aria-hidden="true">{{keyword.name}}</span>
												</button>
												<hr>
												<div class="btn-group" role="group" aria-label="...">
													<a href="{{book.read_link}}" type="button" class="btn btn-default blire"> <span class="fa fa-book"> Read</span> </a>
													<div class="btn-group" role="group">
														<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
															<span class="fa fa-download"> DL</span><span class="caret"></span>
														</button>
														<ul class="dropdown-menu" role="menu">
															<li>
																<span class="fa fa-print"><a href="{{book.pdf_link}}"> PDF</a></span>
															</li>
															<li>
																<span class="fa fa-book"><a href="{{book.epub_link}}"> EPub</a></span>
															</li>

														</ul>
													</div>
													<div class="btn-group" role="group">
														<button type="button" class="btn btn-default bachat dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
															<span class="fa fa-flag"> Lang</span>
														</button>
														<ul class="dropdown-menu" role="menu">
															<li ng-repeat="language in book.languages">
																<span class="fa fa-flag"><a href="{{language.link}}" > {{language.name}}</a></span>
															</li>
														</ul>
													</div>
												</div>
											</div>
											<!-- /.caption -->
										</div>
										<!-- /.thumbnail -->
									</div>
									<!-- /.colmd etc -->
								</div>
							</div>
							<!-- /.row -->
						</div>
					</div>
				</div>
			</div>
			<div class="row espaceup">
				<div class="col-lg-12">
					<!-- Ligne 1 -->
					<div class="row" ng-controller="BookController2">
						<div ng-repeat="book in books| orderBy:'rank' | filter:myFilter">
							<!-- http://stackoverflow.com/questions/27211799/angular-ng-repeat-add-bootstrap-row-every-3-or-4-cols clearfix solution -->
							<div class="clearfix visible-xl-block" ng-if="$index % 6 == 0"></div>
							<div class="clearfix visible-lg-block" ng-if="$index % 6 == 0"></div>
							<div class="clearfix visible-md-block" ng-if="$index % 4 == 0"></div>
							<div class="clearfix visible-sm-block" ng-if="$index % 3 == 0"></div>
							<div class="clearfix visible-xs-block" ng-if="$index % 2 == 0"></div>
							<div class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
								<div class="thumbnail">
									<div class="caption ">
										<h4><a href="{{book.read_link}}" class="booktitle alltitles">{{book.title| limitTo: 40 }}</a></h4>
										<p class="alldescriptions">
											{{ book.description | limitTo: 70 }}{{book.description.length > 70 ? '...' : ''}}
										</p>
										<button type="button" class="btn btn-xs">
											<span class="glyphicon " aria-hidden="true"> {{book.category}}</span>
										</button>
										<button type="button" class="btn btn-xs " ng-repeat="language in book.languages">
											<span class="
											glyphicon flag-btn" aria-hidden="true"><a href="{{language.link}}">{{language.name}}</a></span>
										</button>
										<!-- /.caption -->
									</div>
									<!-- /.thumbnail -->
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- /.col-md-3 -->
			</div>
			<!-- /.row -->
		</div>
		<!-- /.container-fluid -->
		<footer class="footer">
			<div class="container">
				<p class="text-muted">
					FLOSS Manuals Foundation 2016 - <a href="https://creativecommons.org/licenses/by-sa/3.0/deed.en">CC-BY-SA</a>
				</p>
			</div>
		</footer>
		<!-- Bootstrap core JavaScript
		================================================== -->
		<!-- Placed at the end of the document so the pages load faster -->
		<script src="http://code.jquery.com/jquery.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
		<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
		<script src="index_fr_files/ie10-viewport-bug-workaround.html"></script>
	</body>

</html>